---
title: Contact a Personal Injury Attorney | The Romano Law Firm
description: The Romano Law Firm is dedicated to helping injury victims and their families obtain compensation from negligent parties and their insurance companies.
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  </body>
</html>
