---
layout: layout.njk
title: Wellspring Home Services | 404 Not Found
permalink: 404.html
---

<main
  class="container mx-auto sm:px-12 px-8 bg-white py-4 my-8 border-2 border-gray-100"
>
  <h1 class="text-center text-5xl">Page not found.</h1>
  <h2 class="text-center">
    Would you like to go back to the
    <a href="/" class="hover:underline text-yellow-600">Home page</a>?
  </h2>
</main>
