---
layout: layout.njk
title: Contact a Personal Injury Attorney | The Romano Law Firm
description: The Romano Law Firm is dedicated to helping injury victims and their families obtain compensation from negligent parties and their insurance companies.
eleventyNavigation:
  key: About
  url: /about-us/
  order: 2
---

<main class="container mx-auto sm:px-12 px-8 bg-white py-4 my-8 border-2 border-gray-100">
  <h1 class="text-center">About the Founder</h1>
  <article class="relative overflow-auto">
    <div class="float-left ml-0 mb-0 sm:mb-0 mt-2 sm:mt-2 mr-4">
      <div class="relative w-auto">
        <img
          class="object-cover rounded-lg"
          src="../media/images/d-romano-profilepic.jpg"
          alt="Founder photo"
        />
      </div>
    </div>
    <div class="text-gray-600">
      <p>Hello, I am D. Romano.</p>
      <br />
      <p>
        Because of events during my formative years, I have been motivated to be
        a defender of victims rights my whole life. When I was still a child and
        too young to understand why, my grandfather, barely a senior citizen,
        died of complications resulting from conditions and injuries suffered
        while he worked in the coal mines of West Virginia almost 100 years ago.
        When my grandfather came to America alone as a teenager to find what he
        imagined was a better life, he didn’t speak the language. Consequently,
        overworked and forgotten, he was subjected to the dangerously unsafe and
        unthinkable working conditions. But when he died years later of a
        disease related to the horrible working conditions, I was too young to
        understand why there was not a claim to make my grandmother whole again.
        Consequently, she suffered again – this time financially, because her
        relatively young husband was taken far too soon. Consequently, she lived
        a long life, but very poor.
      </p>
      <br />
      <p>
        A few years after the death of my paternal grandfather above, my
        maternal grandfather died of heart and lung disease. He began smoking
        the days long before warning labels on cigarettes – when tobacco
        companies actually advertised that smoking menthol was “good for you.”
        His untimely death was the direct result of being a lifelong smoker. In
        the days before “Big Tobacco” litigation, no claim was made for him
        either, and my family suffered again. These two great injustices in my
        formative years were pivotal for me in my formative years and they
        fueled my ambition to become an attorney and advocate the rights of
        individuals who were victimized by the actions or negligence of others.
        Whether unintentional (as in the case of most car accidents), or
        intentional (such as defective product placement), it has been my
        passion to become a champion of victim’s right. I knew even as a child
        that I would one day become a personal injury attorney. It was, at the
        time, the driving force which gave my life purpose and direction.
      </p>
      <br />
      <p>
        Working hard to achieve this goal, I received a business degree in
        economics, and later graduated law school in 1992 from the Florida State
        University College of Law, where I served on the Law Review (which is a
        special privilege for high-achieving students). I won numerous accolades
        while earning the degree of Doctorate of Jurisprudence (J.D.). After law
        school, I had the opportunity to work for firms which defended insurance
        companies and other “big business” interests responsible of the injuries
        of others. (Wealthy insurance-oriented law firms can afford to hire the
        best attorneys straight out of law school). But working for the
        “defense” was never a proper fit for me — emotionally or morally. I felt
        like a square peg trying to fit into a round hole. I truly believed that
        the law should work FOR THE VICTIMS and not for big defense interests
        like insurance companies. A few years later, I broke away from doing
        defense work for ANY insurance or defense interest. Finally, I founded
        the injury-specializing ROMANO LAW FIRM, representing only victims – and
        never insurance companies or big business defense.
        <b
          >We represent only plaintiffs. We at the Romano Law Firm represent
          ONLY individuals. Only YOU…</b
        >
        That way, we avoid any possible conflicts of interest.
      </p>
      <br />
      <p>
        I became fulfilled professionally when I came to the plaintiff side to
        champion the rights of victims. However, working for the “enemy” very
        early in my career made me especially aware of how well-armed,
        well-prepared and well-financed insurance companies are, and just how
        effective they can be at subduing or minimizing very legitimate claims –
        even very serious claim or lawsuits which included broken bones, head
        injury, loss in use, and every kind of injury or death case.
      </p>
      <br />
      <p>
        We sometimes think of insurance companies and their representatives as
        friends (at least that is what their multi-billion dollar advertising
        campaign would have us believe). But we should never be blind to the
        fact that the moment you become involved in an accident, their financial
        interests became adverse to yours. Insurance companies do not become
        multi-billion dollar entities through their generosity. One thing that
        insurance companies would like you NOT to know is that claims and
        lawsuits where the injured party is represented by an experienced
        personal injury attorney result in a higher net result than
        unrepresented injured people or accident victims. This is a fact based
        on the insurance companies’ own statistics. (See also our blog post
        about the injury insurance industry). For more insight into how
        insurance companies operate, please visit our page on this website which
        reveals
        <a
          href="/insurance-company-secrets"
          class="hover:underline text-yellow-600"
          >10 Things that insurance companies don’t want you to know</a
        >.
      </p>
      <br />
      <p>
        We believe in fair compensation for our clients – for both economic
        damages and personal injuries they may have suffered, whether involving
        “whiplash”, other serious injury, paralysis, dismemberment, or death.
        Indeed, even if an injury may initially seem minor, those injuries may
        prove to be debilitating or financially backbreaking unless proper
        medical attention is sought. That is why we evaluate each client on a
        case-by-case basis. Our mission is to help pick up the pieces and make
        you financially whole again by seeking compensation from the responsible
        entity or insurance company.
      </p>
      <br />
      <p>
        If you or someone you know is injured through the fault of another, do
        not delay to call The Romano Law Firm. Because of the many traps for the
        unwary victim or auto or motorcycle negligence, a delay could make you a
        victim of your injury a second time. Failure to find an experienced
        injury trial attorney could jeopardize your claim. Sometimes the
        simplest solution is also the best one: to use a Counselor who knows the
        Way. That is why we are here. We want to step into the gap for you and
        help you find your Way towards financial wholeness. I like to believe
        that the Romano Law Firm is the firm that my grandmothers and family
        would have consulted if given the chance.
      </p>
    </div>
  </article>
  <h1 class="text-center">Our Associates</h1>
  <article class="relative overflow-auto">
    <img
      class="object-cover rounded-lg mx-auto mb-8"
      src="../media/images/associates.webp"
      alt="Founder photo"
    />
    <div class="text-gray-600">
      <p>
        We are blessed to work with a great team of legal and medical
        professionals who can help guide our clients towards wellness and reach
        maximum medical improvement while at the same time carefully documenting
        injuries and pursuing all available legal remedies.
      </p>
      <br />
      <p>
        The Romano Law Firm associates with other attorneys who specialize in
        specific areas of law relating personal injury, such as social security,
        workers’ compensation and product liability. Sometimes there is already
        existing litigation or a class action suit, such as Big Tobacco or many
        pharmaceutical cases (such as Fen-Phen). We are able to direct those
        claims to channels where specialists in a particular kind of litigation
        best serves our clients.
      </p>
      <iframe
        {# width="560"
        height="315" #}
        class="md:w-1/2 w-full aspect-[3/2] mx-auto my-8"
        src="https://www.youtube.com/embed/2-knM2YzCCE?si=dU-W-kNyYKxNp0A7"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </article>
</main>
