---
layout: layout.njk
title: Contact a Personal Injury Attorney | The Romano Law Firm
description: The Romano Law Firm is dedicated to helping injury victims and their families obtain compensation from negligent parties and their insurance companies.
eleventyNavigation:
  key: Auto Accidents Lawyer
  url: /auto-accidents-lawyer/
  order: 5
---

<h1 class="text-center text-2xl font-extrabold">Auto Accidents Lawyer</h1>
