---
layout: layout.njk
title: Contact a Personal Injury Attorney | The Romano Law Firm
description: The Romano Law Firm is dedicated to helping injury victims and their families obtain compensation from negligent parties and their insurance companies.
eleventyNavigation:
  key: Contact
  url: /contact/
  order: 7
---

<main
  class="container mx-auto sm:px-12 px-8 bg-white py-4 my-8 border-2 border-gray-100"
>
  <h1 class="text-center">Contact Us</h1>
  <article class="relative overflow-auto mt-5">
    <div class="lg:float-right ml-0 mb-0 sm:mb-0 mt-2 sm:mt-2 mr-4">
      <div class="relative w-auto">
        <image
          src="../media/images/romano-office-map.webp"
          class="mx-auto my-8"
          alt=""
        ></image>
      </div>
    </div>
    <p class="lg:mt-24 text-gray-600 font-medium text-lg">
      The Romano Law Firm
    </p>
    <p class="text-gray-600 text-lg">P.O. Box 22073 Tampa, FL 33622</p>
    <br />
    <p class="text-gray-600 text-lg">
      Florida & Washington, D.C.:
      <a href="tel:+18132939000" class="font-medium">(813) 293-9000</a>
    </p>
    <p class="text-gray-600 text-lg">
      Oklahoma:
      <a href="tel:+19184097711" class="font-medium">(918) 409-7711</a>
    </p>
    <p class="text-gray-600 text-lg">
      Email:
      <a href="mailto:romanolawfirm@gmail.com" class="font-medium"
        >romanolawfirm@gmail.com</a
      >
    </p>
  </article>
</main>
