---
layout: layout.njk
title: Personal Injury Firm Tampa, Tulsa, DC | The Romano Law Firm
description: The Romano Law Firm is dedicated to helping injury victims and their families obtain compensation from negligent parties and their insurance companies.
eleventyNavigation:
  key: How We Work
  url: /how-we-work/
  order: 4
---

<main
  class="container mx-auto sm:px-12 px-8 bg-white py-4 my-8 border-2 border-gray-100"
>
  <h1 class="text-center">How We Work</h1>
  <article class="relative overflow-auto md:mx-[25%] mt-5">
    <img
      class="object-cover rounded-lg mx-auto mb-8"
      src="../media/images/how-we-work.webp"
      alt="How we work"
    />
    <div class="text-gray-600 mb-8">
      <p>
        <span class="text-yellow-600 font-medium"
          >The Heart of a Small Firm</span
        >
        – One of the vagaries of a busy and successful law practice is that
        there is always a shortage of time. Many “big firms” attempt to resolve
        this problem by delegating an abundance of duties and responsibilities
        to non-professionals who are not lawyers. More than ten years ago, we
        parted ways with a large plaintiff’s firm because we were dissatisfied
        with the amount of time we were able to spend with my clients. Since
        even attorneys can feel like they are on “the assembly line,” we decided
        to open a small firm where the needs of our clients could be more easily
        met with the heart of a small firm, but still have big firm know-how,
        experience and muscle.
      </p>
      <br />
      <p>
        <span class="text-yellow-600 font-medium"
          >The Muscle of a BIG FIRM</span
        >
        – Because of the intensity of our preparation and “setting the stage”, a
        great majority of cases are able to be resolved without the need for
        protracted litigation.
      </p>
    </div>
  </article>
</main>
