---
layout: layout.njk
title: Contact a Personal Injury Attorney | The Romano Law Firm
description: The Romano Law Firm is dedicated to helping injury victims and their families obtain compensation from negligent parties and their insurance companies.
eleventyNavigation:
  key: Home
  url: /
  order: 1
---

{#
<h1 class="text-center">H1 Class for Home</h1>
<h2 class="text-center">H2 Class for Home</h2>
<h3 class="text-center">H3 Class For Home</h3>
#}

<main class="container mx-auto sm:px-12 px-8 bg-white py-4 my-8 border-2 border-gray-100">
  <h2 class="text-center italic">
    We are an injury Law Firm, serving our clients throughout Florida, Oklahoma,
    and Washington D.C.
  </h2>
  <image
    src="../media/images/hero-image.jpg"
    class="mx-auto my-8"
    alt=""
  ></image>
  <p class="text-center text-gray-500 text-lg italic my-4">
    The Romano Law Firm is dedicated to helping injury victims and their
    families obtain compensation from negligent parties and their insurance
    companies.
  </p>
  <image
    src="../media/images/romano-office-map.webp"
    class="mx-auto my-8"
    alt=""
  ></image>
  <h3>Our Core Values:</h3>
  <ul class="list-disc list-inside text-gray-600 mb-8">
    <li>Our clients are our first priority</li>
    <li>We represent only injury victims -- never the insurance company</li>
    <li>
      We exist for the purpose of zealously representing injury victims and
      winning for them the compensation and relief to which they are entitled
      under the law
    </li>
    <li>
      We do not allow our clients to be intimidated by insurance companies and
      defense firms
    </li>
    <li>
      We believe in the Golden Rule that you should do unto others as you would
      have done to you -- especially in regards to case evaluation.
    </li>
  </ul>
</main>
