---
layout: layout.njk
title: Know Your Rights | The Romano Law Firm
description: The Romano Law Firm is dedicated to helping injury victims and their families obtain compensation from negligent parties and their insurance companies.
eleventyNavigation:
  key: Your Rights
  url: /our-clients/
  order: 3
---

<main
  class="container mx-auto sm:px-12 px-8 bg-white py-4 my-8 border-2 border-gray-100"
>
  <h1 class="text-center">Become Empowered by Knowing Your Rights</h1>
  <article class="relative overflow-auto md:mx-[25%] mt-5">
    <img
      class="object-cover rounded-lg mx-auto mb-8"
      src="../media/images/yourrights.gif"
      alt="Founder photo"
    />
    <div class="text-gray-600 mb-8">
      <p>
        It is refreshing to know that we have legal recourse to seek
        compensation for the financial losses we suffer, which may include:
      </p>
      <br />
      <ul class="list-disc list-inside font-medium">
        <li>Property damage</li>
        <li>Wages (or work benefits)</li>
        <li>Medical treatment</li>
        <li>Medication</li>
        <li>Mileage for doctor visits</li>
        <li>Loss of opportunity</li>
        <li>Time and inconvenience for doctors</li>
      </ul>
      <br />
      <p>
        The losses may be intangible and difficult to calculate, but
        nevertheless, they are compensable. After all, what is the value we
        place on our health?
      </p>
      <br />
      <p>
        Our firm represents people of all creeds, races, genders, and
        nationalities. We believe that all are equal before the law. Knowledge
        of the law is empowerment. You should know your rights. Please visit our
        <a
          href="/insurance-company-secrets/"
          class="hover:underline text-yellow-600"
          >Insurance Secrets</a
        >
        page and discover for yourself the
        <a
          href="/insurance-company-secrets/"
          class="hover:underline text-yellow-600"
          >10 THINGS THAT INSURANCE COMPANIES DON’T WANT YOU TO KNOW</a
        >.
      </p>
      <br />
      <p>
        When you become a client of the Romano Law Firm, a team of legal
        professionals will aid you in getting your “immediate” needs met,
        including your property damage. Your injury may also require medical
        treatment and documentation of the cause and result of the injury by a
        qualified physician or specialist. We can be helpful in making sure you
        get the treatment and care you require while at the same time preparing
        your claim for fair and just evaluation.
      </p>
    </div>
  </article>
</main>
